<h1>Listing watsup_links</h1>

<table>
  <tr>
    <th>Path</th>
    <th>Text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @watsup_links.each do |watsup_link| %>
  <tr>
    <td><%= watsup_link.path %></td>
    <td><%= watsup_link.text %></td>
    <td><%= link_to 'Show', watsup_link %></td>
    <td><%= link_to 'Edit', edit_watsup_link_path(watsup_link) %></td>
    <td><%= link_to 'Destroy', watsup_link, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Watsup link', new_watsup_link_path %>
