<p id="notice"><%= notice %></p>

<p>
  <b>Path:</b>
  <%= @watsup_link.path %>
</p>

<p>
  <b>Text:</b>
  <%= @watsup_link.text %>
</p>


<%= link_to 'Edit', edit_watsup_link_path(@watsup_link) %> |
<%= link_to 'Back', watsup_links_path %>
